body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-size: 16px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#sidebar {
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    justify-content: flex-end;
    
    position: relative;
    width: 35%;
    flex: 0 2 auto;
    background: url(images/sidebar-image.jpg);
    background-size:cover;
    background-position: bottom left;
    color: white;
    text-align: center;
   
}

div#brand {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.5;
    font-family: "Vito";
    font-size: 5em;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
}

#brand > img {
    height: 1.5em;
    width: auto;
}

main {
    background-color: white;
    width: 65%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    gap: 24px;
    justify-content: center;

}

main > p {
    padding-left: 56px;
}

p.big {
    font-size: 1.5em;
    font-weight: 600;
}

main form {
    padding:8px 56px;
    box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 20%);
}

form div {
    margin-top: 8px;
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    justify-content: space-between;
}

form > h2 {
    font-weight: 600;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 40%;
    margin-bottom: 16px;
    margin-right: 4px;
}

.field > label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
}

.field > input {
    border: 1px solid #e4e0d5;
    border-radius: 4px;
    padding: 4px;
    width: 100%;
}

.field > input:focus {
    border: 2px solid rgb(72, 72, 172);
    outline: none;
}

.field input:user-invalid {
    border:2px solid red;
}

span.required{
    color: rgb(153, 37, 37);
}

button {
    margin-left: 56px;
    width: 240px;
    background-color: #5c4634;
    font-weight: 600;
    padding: 12px 24px;
    color: white;
    border-radius: 8px;
}
#call-to-action {
    font-weight: 600;
}

#call-to-action a {
    color: #5c4634;
    text-decoration: none;
}

@font-face {
    font-family: 'Vito';
    src: url('fonts/VitoBold.woff2') format('woff2'),
        url('fonts/VitoBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}