@font-face {
    font-family: 'Vito';
    src: url('VitoBold.woff2') format('woff2'),
        url('VitoBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

